<div class="page-container" *ngIf="user">

  <!-- Profile modification form -->
  <div class="modification-container">
    <div class="avatar-flip">
      <img src="data:image/jpg;base64,{{cover}}" height=150 width=150/>
      <img src="http://i1112.photobucket.com/albums/k497/animalsbeingdicks/abd-3-12-2015.gif~original" height="150" width="150">
    </div>

    <div class="brief-container">
      <h2 class="big-label">{{user.name}}</h2>
      <h4>{{user.email}}</h4>
      <p class="description-label">{{user.description}}</p>
    </div>

    <form class="modification-form">
      <div id="name-input" class="form-group">
        <input type="text" name="newName" [(ngModel)]="newName" class="form-control" id="exampleInputPassword1" placeholder="Name">
      </div>
      <div id="name-input" class="form-group">
          <input type="email" name="newEmail" [(ngModel)]="newEmail" class="form-control" id="exampleInputPassword1" placeholder="Email">
        </div>
      <div class="form-group">
        <input type="text" name="newDescription" [(ngModel)]="newDescription" class="form-control" id="exampleInputPassword1" placeholder="Description">
      </div>
      <hr>
      <h1 class="big-label">Social Media</h1>
      <div class="form-group">
        <input type="text" name="newTwitter" [(ngModel)]="newTwitter" class="form-control" id="exampleInputPassword1" placeholder="Link to your Twitter">
      </div>
      <div class="form-group">
        <input type="text" name="newFacebook" [(ngModel)]="newFacebook" class="form-control" id="exampleInputPassword1" placeholder="Link to your Facebook">
      </div>
      <div class="form-group">
        <input type="text" name="newLinkedin" [(ngModel)]="newLinkedin" class="form-control" id="exampleInputPassword1" placeholder="Link to your LinkedIn">
      </div>
      <div class="form-group">
        <input type="text" name="newGoogle" [(ngModel)]="newGoogle" class="form-control" id="exampleInputPassword1" placeholder="Link to your Google+">
      </div>
      <hr>

      <div class="loader-container">
        <input class="file-input" type="file" name="photo" ng2FileSelect [uploader]="uploader" />
        <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
          Upload cover
        </button>
      </div>
      <br>
      <br>
      <div class="button-container">
        <button id="post-button" (click)="onUpdateClicked()">Update</button>
      </div>
    </form>

  </div>

</div>