.page-header{
    color:white;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:900,300);
body {
  background-color: #f0f0f0;
  font-family: roboto;
}
.container {
  width: 400px;
  margin: 120px auto 120px;
  background-color: #fff;
  padding: 0 20px 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  text-align: center;
}
.container:hover .avatar-flip {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
.container:hover .avatar-flip img:first-child {
  opacity: 0;
}
.container:hover .avatar-flip img:last-child {
  opacity: 1;
}
.avatar-flip {
  float:left;
  margin-top:10%;
  border-radius: 100px;
  overflow: hidden;
  height: 150px;
  width: 150px;
  position: relative;
  top: -60px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0 13px #0044ff;
  -webkit-box-shadow: 0 0 0 13px #0bb5d3;
  -moz-box-shadow: 0 0 0 13px #0f62e9;
}
.avatar-flip img {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}
.avatar-flip img:first-child {
  z-index: 1;
}
.avatar-flip img:last-child {
  z-index: 0;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  opacity: 0;
}
h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
}
h4 {
  font-size: 13px;
  color: #00baff;
  letter-spacing: 1px;
  margin-bottom: 25px
}
p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
  color: #666;
}


.text-white{
  color:White;
}

.brief-container 
{
  float:right;
  width:80%;
}

.modification-container {
 margin-top:5%;
 margin-bottom:5%;
  height:30%;
  float:left;
  padding : 5%;
  background-color: rgb(27, 27, 27);
  outline: rgb(0, 106, 245) solid thick;
  box-shadow: 10px 10px 10px 10px #ff03dd;
}

label {
  color:white;
}

.page-container {
  width:80%;
  height:100%;
  background-color: rgb(27, 27, 27);
}

.big-label {
  color:white;
}

.description-labeyoul {
  color:rgb(228, 228, 228);
}

.file-input{
  width:100px;
  height:30px;
}

.loader-container {
  width:80%;
}


#post-button {
  color: #0099CC; /* Text color */
  background-color: transparent; /* Remove background color */
  border: 2px solid #0099CC; /* Border thickness, line style, and color */
  border-radius: 5px; /* Adds curve to border corners */
  text-transform: uppercase; /* Make letters uppercase */ 
  width:15%;
  height:8%;
  z-index: 1;
  float:right;
}

button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}