<div *ngIf="dataArrivalFlag">
    <div *ngIf="dataArrivalFlag" class="news-container">
        <img src="{{roomData.resource}}" alt="Room cover" id="room-cover">
        <h1 class="room-title">{{roomData.title}}</h1>
        <a class="btn btn-danger" *ngIf="authenticationService.isAdmin()" (click)="terminateRoom()">Terminate</a>
        <hr>
        <a href="{{roomData.url}}" class="btn btn-info">Visit</a>
    </div>

    <button id="post-button" data-toggle="modal" data-target="#myModalHorizontalPost">Post</button>

    <style type="text/css">
        .grid-item {
            width: 390px;
            padding: 15px;
        }
    </style>


    <script type="text/javascript">
        $('#editButton').modal('hide');    
    </script>

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>


 
    <!-- Regular posts grid  -->
    <div *ngIf="dataArrivalFlag" class="wrapper">
        <div class="content">
            <div *ngFor="let post of regularPosts | paginate: {itemsPerPage:5, currentPage:p} ; let myIndex = index;" class="card first">
                <button *ngIf="authenticationService.isAdmin()" class="btn btn-danger" style="float:right" (click)="onRemoveSubmit(regularPosts[myIndex]._id)">Remove</button>
                <button id="editButton" *ngIf="authenticationService.isAuthor(regularPosts[myIndex].author._id)" data-toggle="modal" data-target="#myModalHorizontalEdit"
                    (click)="setValue(myIndex)" class="btn btn-info">Edit</button>
                <h2 class="post-header">{{regularPosts[myIndex].header}}</h2>
                <h2 class="post-sentiment">{{post.sentiment}}</h2>
                <a [routerLink]="['/profile', post.author._id]">
                    <p class="date">Published by {{post.author.username}}
                    </p>
                </a>
                <p class="text">{{regularPosts[myIndex].body}}</p>
                <img *ngIf="post.image != null" src="data:image/jpg;base64,{{regularPosts[myIndex].image}}" class="post-image" />
                <hr>

                <div class="btn-group" role="group" aria-label="Basic example">
                    <button *ngIf="!isLiked(post._id)" (click)="onLikeClicked(post._id); currentClickedPost = post._id" class="btn btn-success btn-lg"
                        id="like-button">
                        <span class="glyphicon glyphicon-thumbs-up" id="like-button-span">
                        </span>
                        <h5 id="like-counter">{{post.likes}}</h5>
                    </button>
                    <button *ngIf="!isReported(post._id)" (click)="onReportClicked(post._id)" class="btn btn-success btn-danger" id="like-button">
                        <span class="glyphicon glyphicon-bullhorn" id="like-button-span">
                        </span>
                        <h5 id="like-counter">{{post.reports}}</h5>
                    </button>
                    <!-- Not active -->
                    <div *ngIf="isLiked(post._id)" class="btn btn-lg" id="like-button">
                        <span class="glyphicon glyphicon-thumbs-up" id="like-button-span">
                        </span>
                        <h5 id="like-counter">{{post.likes}}</h5>
                    </div>
                    <div *ngIf="isReported(post._id)" class="btn btn-danger" id="like-button">
                        <span class="glyphicon glyphicon glyphicon-bullhorn">
                        </span>
                        <h5 id="like-counter">{{post.reports}}</h5>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="pagination">
        <pagination-controls *ngIf="regularPosts.length > 5" class="pagination-controls" (pageChange)="p = $event"></pagination-controls>
    </div>


    <!-- Modal(Post) -->
    <div id="modalPost" class="modal fade" id="myModalHorizontalPost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Concoct a post
                    </h4>
                </div>

                <!-- Modal Body(post) -->
                <div class="modal-body">
                    <form (submit)="onPostSubmit()" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="inputEmail3">Header</label>
                            <div class="col-sm-10">
                                <input maxlength="69" [(ngModel)]="header" class="form-control" name="header" id="inputEmail3" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="inputPassword3">Body</label>
                            <div class="col-sm-10">
                                <textarea maxlength="847" [(ngModel)]="body" name="body" class="form-control" id="post-body-area" required></textarea>
                            </div>
                        </div>
                        <input (change)="isSelected = true" class="form-control" type="file" name="photo" ng2FileSelect [uploader]="uploader" />
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                            </div>
                            <button type="submit" id="post-button" class="btn btn-primary">Post</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal(Edit) -->
    <div id="modalEdit" class="modal fade" id="myModalHorizontalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Concoct a post
                    </h4>
                </div>

                <!-- Modal Body(edit) -->
                <div class="modal-body">

                    <form (submit)="onEditSubmit()" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="inputEmail3">Header</label>
                            <div class="col-sm-10">
                                <input maxlength="69" [(ngModel)]="header" class="form-control" name="header" id="inputEmail3" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="inputPassword3">Body</label>
                            <div class="col-sm-10">
                                <textarea maxlength="847" [(ngModel)]="body" name="body" class="form-control" id="post-body-area" required></textarea>
                            </div>
                        </div>
                        <div *ngIf="image" class="image-manager">
                            <img src="data:image/jpg;base64,{{image}}" class="post-image-dynamic" />
                            <button (click)="imageRemoved()" type="button" class="closeimg" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <input *ngIf="!image" (change)="isSelected = true" class="form-control" type="file" name="photo" ng2FileSelect [uploader]="uploader"
                        />


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                            </div>
                            <button type="submit" id="post-button" class="btn btn-primary">Edit</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>

<!-- Loader -->

<div *ngIf="!dataArrivalFlag" class="loader loader-5">
    <div class="loader-pacman"></div>
</div>