.body{
    background-color:#111;
}

.news-container{
    margin-top:5%;
}

#room-cover {
   max-width: 40%;
}

.room-title {
    float:right;
    width:50%;
    margin-left:3%;
    color:white;
}


.btn{
    width:30%;
    height:25%;
    float:right;
    margin-top: -5%
}

.body-short{
    width:40%;
    float:right;
    color:#fff;
}

.ng-cloak { display: none !important; }


#post-button {
    color: #0099CC; /* Text color */
    background-color: transparent; /* Remove background color */
    border: 2px solid #0099CC; /* Border thickness, line style, and color */
    border-radius: 5px; /* Adds curve to border corners */
    text-transform: uppercase; /* Make letters uppercase */ 
    width:15%;
    height:8%;
    position:fixed;
    bottom:5%;
    right:2%;
    z-index: 1;
}

button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.modal-dialog{
    outline: rgb(0, 106, 245) solid thick;
    box-shadow: 10px 10px 10px 10px #ff03dd;
}


.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}

.modal-body {
    height:500px;
}

.wrapper{
    display: flex;
    z-index: -1;
    padding-top:10%;
    margin-right:-15%;
    clear:both;
    width: 55%;
    overflow: hidden;
    margin:auto;
  }
  
  .title h1 {
    font-size:24px;
    color:#FFF;
    font-weight:500;
  }
  
  .content{
    padding-bottom: 20px;
  }
  
  .content .card.first {    
  }
  
  .card{
    position: relative;
    background: #fff;
    padding:50px;
    width: 600px;
    margin: 20px auto 0 auto;
    box-shadow: 0 2px 4px rgba(100,100,100,.1);
  }
  
  .card h2 {
    font-size:21px;
    font-weight:500;
  }
  
  .card h2 a {
    color:#CC0000;
    text-decoration:none;
  }
  
  .card .date {
    color:#9e9e9e;
    margin-top:10px;
    font-size:14px;
  }
  
  .card .text {
      word-wrap: break-word;
    font: 20px Helvetica, Sans-Serif;
    color: black;
    padding: 15px;
    text-align: justify;
  }

  .span {
      color: rgb(69, 120, 214);
  }


a{
    color:white;
}

.text-white{
    color:White;
}

#post-body-area {
    height:250px;
}

.post-image{
    width:100%;
    height:auto;
}

.post-image-dynamic {
    width:100px;
    height:100px;
    position:relative;
}

.image-manager:hover {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.closeimg {
    position:absolute;
    bottom: 10;
    right:10;
    width:30px;
    height:30px;
    margin-left:-30px;
}

/* Flash messages */

.flash-message
{
    z-index: 10000;
    position: relative;
}

/* Like button */

/* Post modifications */

.post-header{
    font-weight:40;
}

#like-button{
    width:50px;
    margin-left:7px;
}

.post-sentiment{
    float:right;
    font-size:30;
    color:#CC0000;
}

/* Loader */

.loader {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin:40% 50% 50% 50%;
    display: inline-block;
    vertical-align: middle;
}

/*LOADER-5*/

.loader-5 {
    border: 8px dotted rgb(255, 217, 0);
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-animation: dotted-spin 1s linear infinite;
    animation: dotted-spin 1s linear infinite;
    border-bottom-width: 1px;
    border-bottom-color: rgba(255, 255, 0, 0.3);
    border-left-width: 2px;
    border-left-color: rgba(255, 255, 0, 0.5);
    border-top-width: 3px;
    border-right-width: 4px;
    border-top-color: rgba(255, 255, 0, 0.7);
}

.loader-5 .loader-pacman,
.loader-pacman {
    position: absolute;
    top: 40px;
    left: 25px;
    width: 0px;
    height: 0px;
    border-right: 12px solid transparent;
    border-top: 12px solid rgba(255, 255, 0, 1);
    border-left: 12px solid rgba(255, 255, 0, 1);
    border-bottom: 12px solid rgba(255, 255, 0, 1);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}



@-webkit-keyframes dotted-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes dotted-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

.pagination {
    background-color: rgb(87, 87, 87);
    margin-bottom:2%;
}