<nav class="navbar-primary collapsed">
  <a href="#" class="btn-expand-collapse">
    <span class="glyphicon glyphicon-menu-left"></span>
  </a>
  <ul class="navbar-primary-menu">
    <li>
      <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/dashboard']">
        <img src="../../assets/res/img/favicon.png" height="30" width="30">
        <span class="nav-label">Dashboard</span>
      </a>
      <a data-toggle="tooltip" title="Admin" *ngIf="authenticationService.isAdmin()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
        [routerLink]="['/admin']">
        <span class="	glyphicon glyphicon-king"></span>
        <span class="nav-label">AdminPanel</span>
      </a>
      <a *ngIf="authenticationService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/dashboard']">
        <span class="glyphicon glyphicon-list-alt"></span>
        <span class="nav-label">Dashboard</span>
      </a>
      <a *ngIf="authenticationService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/aggregator']">
        <span class="	glyphicon glyphicon-eye-open"></span>
        <span class="nav-label" data-toggle="tooltip" title="Profile">Rooms</span>
      </a>
      <a *ngIf="authenticationService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/settings']">
        <span class="	glyphicon glyphicon-user"></span>
        <span class="nav-label" data-toggle="tooltip" title="Profile">Profile</span>
      </a>
      <a *ngIf="authenticationService.loggedIn()" (click)="onLogoutClick()" href="#">
        <span class="glyphicon glyphicon-log-out"></span>
        <span class="nav-label" data-toggle="tooltip" title="Logout">Logout</span>
      </a>
    </li>
  </ul>
</nav>