<link href='https://fonts.googleapis.com/css?family=Press Start 2P' rel='stylesheet'>


<form (submit)="onLoginSubmit()" class="login-form">
  <h2 class="header">Sign in</h2>
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" [(ngModel)]="username" name="username">
  </div>

  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" [(ngModel)]="password" name="password">
  </div>
  <input type="submit" class="btn btn-primary" value="Login" id="btn-login">
</form>