
label{
    color:#fff;
    font-family: 'Press Start 2P', Arial, sans-serif;    
    
}
body{
    background-image: url('https://i0.wp.com/www.spacegamejunkie.com/wp-content/uploads/2011/08/Space-Battle-3-ST41U7IDLZ-1600x12001.jpg?ssl=1');
}

h2{
    color:#fff;
    font-family: 'Press Start 2P', Arial, sans-serif;    
    
}

.login-form{
    width:50%;
    margin:0 auto;
    margin-top:20%;
    outline: rgb(0, 106, 245) solid thick;
    box-shadow: 10px 10px 10px 10px #ff03dd;
}

#btn-login{
    margin-left:30%;
    width:40%;
    margin-top:5%;
    font-family: 'Press Start 2P', Arial, sans-serif;        
    background-color: #ff03dd;
    margin-bottom: 3%;
}

.form-group{
    margin:3%;
    padding-top:3%;
}

.header{
    
        margin:3%;
        margin-left:30%;
        padding-top:2%;
        color:rgb(169, 66, 209);
        font-family: 'Press Start 2P', Arial, sans-serif;    
    }

    input{
        font-family: 'Press Start 2P', Arial, sans-serif;            
    }