label{
    color:#fff;
}

h2{
    color:#fff;
}

.admin-hint{
    color:#fff;
    
}

#post-button {
    height:100%;
    width:40%;
}


@media (min-width:34em) {
    .card-deck > .card
    {
        flex-wrap: wrap;
        flex: initial; 
    }
}

.container {
    margin-left:-2.5%;
}