<h3 class="admin-hint">Create room from suggested</h3>



<button (click)="onApiDataRequested('general')" class="btn btn-primary">General</button>
<button (click)="onApiDataRequested('sport')" class="btn btn-primary">Sport</button>
<button (click)="onApiDataRequested('gaming')" class="btn btn-primary">Gaming</button>
<button (click)="onApiDataRequested('technology')" class="btn btn-primary">Technology</button>




<div *ngIf="dataArrivalFlag" class="container">
  <div class="flex-row ">
    <div class="col-xs-6 col-sm-4 col-lg-3">
      <div class="thumbnail">
        <div class="caption">
          <h3>{{suggestionArray.article[0].title}}</h3>
          <p class="flex-text text-muted">{{suggestionArray.article[0].description}}</p>
          <form (submit)="postSelected(0)">
            <input type="submit" class="btn btn-primary" value="Post">
          </form>
        </div>
      </div>
    </div>

    <div class="col-xs-3 col-sm-4 col-lg-3">
      <div class="thumbnail">
        <div class="caption">
          <h3>{{suggestionArray.article[1].title}}</h3>
          <p class="flex-text text-muted">{{suggestionArray.article[1].description}}</p>
          <form (submit)="postSelected(1)">
            <input type="submit" class="btn btn-primary" value="Post">
          </form>        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-3 col-sm-4 col-lg-3">
    <div class="thumbnail">
      <div class="caption">
        <h3>{{suggestionArray.article[2].title}}</h3>
        <p class="flex-text text-muted">{{suggestionArray.article[2].description}}</p>
        <form (submit)="postSelected(2)">
          <input type="submit" class="btn btn-primary" value="Post">
        </form>      </div>
    </div>
  </div>

  <div class="col-xs-3 col-sm-4 col-lg-3">
    <div class="thumbnail">
      <div class="caption">
        <h3>{{suggestionArray.article[3].title}}</h3>
        <p class="flex-text text-muted">{{suggestionArray.article[3].description}}</p>
        <form (submit)="postSelected(3)">
          <input type="submit" class="btn btn-primary" value="Post">
        </form>      </div>
    </div>
  </div>

  <div class="col-xs-3 col-sm-4 col-lg-3">
    <div class="thumbnail">
      <div class="caption">
        <h3>{{suggestionArray.article[4].title}}</h3>
        <p class="flex-text text-muted">{{suggestionArray.article[4].description}}</p>
        <form (submit)="postSelected(4)">
          <input type="submit" class="btn btn-primary" value="Post">
        </form>      </div>
    </div>
  </div>

  <div class="col-xs-3 col-sm-4 col-lg-3">
    <div class="thumbnail">
      <div class="caption">
        <h3>{{suggestionArray.article[5].title}}</h3>
        <p class="flex-text text-muted">{{suggestionArray.article[5].description}}</p>
        <form (submit)="postSelected(5)">
          <input type="submit" class="btn btn-primary" value="Post">
        </form>      </div>
    </div>
  </div>
  <div class="col-xs-3 col-sm-4 col-lg-3">
    <div class="thumbnail">
      <div class="caption">
        <h3>{{suggestionArray.article[6].title}}</h3>
        <p class="flex-text text-muted">{{suggestionArray.article[6].description}}</p>
        <form (submit)="postSelected(6)">
          <input type="submit" class="btn btn-primary" value="Post">
        </form>      </div>
    </div>
  </div>
  <div class="col-xs-3 col-sm-4 col-lg-3">
    <div class="thumbnail">
      <div class="caption">
        <h3>{{suggestionArray.article[7].title}}</h3>
        <p class="flex-text text-muted">{{suggestionArray.article[7].description}}</p>
        <form (submit)="postSelected(7)">
          <input type="submit" class="btn btn-primary" value="Post">
        </form>      </div>
    </div>
  </div>

</div>



<h3 class="admin-hint">
    Create new room</h3>
  <hr>
  <form (submit)="onCreateSubmit()">
    <div class="form-group">
      <label>Title</label>
      <input type="text" [(ngModel)]="title" name="title" class="form-control">
    </div>
  
    <div class="form-group">
      <label>Body</label>
      <input type="text" [(ngModel)]="body" name="body" class="form-control">
    </div>
  
    <div class="form-group">
      <label>Url</label>
      <input type="text" [(ngModel)]="url" name="url" class="form-control">
    </div>
  
    <div class="form-group">
      <label>Author</label>
      <input type="text" [(ngModel)]="author" name="author" class="form-control">
    </div>
    <input type="submit" class="btn btn-primary" value="Submit">
  </form>
  
  <hr>