/* You can add global styles to this file, and also import other style files */
body, html{
    padding: 0;
    margin:0;
    background-color: #111;
    background-image: url('https://wallpaperscraft.com/image/background_dark_points_solid_35100_1920x1080.jpg');    
}
 
/* Custom scrollbar */
body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(33, 117, 195);
  outline: 1px solid rgb(0, 0, 0);
}
