label{
    color:#fff;
    font-family: 'Press Start 2P', Arial, sans-serif;    
}

h2{
    color:#fff;
}

form{
    margin-top:15%;
    outline: rgb(0, 106, 245) solid thick;
    box-shadow: 10px 10px 10px 10px #ff03dd;
}

.form-group{
    margin:5%;
}

.header{

    margin:3%;
    margin-left:40%;
    padding-top:2%;
    color:rgb(169, 66, 209);
    font-family: 'Press Start 2P', Arial, sans-serif;    
}

.btn{
    margin:2%;
    background-color:rgb(169, 66, 209);
    margin-left:45%;
    font-family: 'Press Start 2P', Arial, sans-serif;        
}

input{
    font-family: 'Press Start 2P', Arial, sans-serif;        
}
