/* Styles for material cards */
.text-white {
    color:#ffffff;
}

.container {
  float:left;
  margin-left:-15%;
}

.brief-post{
  background-color:#333;
  color:white;
  display: block;
  margin: 10px;
  display:flex;
}

.transparent .tuyin 
{
margin-top: 20px; 
background-color: rgba(255, 255, 255, 0.37);
border: 1px solid #F7F7F7;
border-radius: 5px;
box-shadow: 0px 0px 2px 0px rgba(181, 181, 181, 0.3);
padding: 4%;
text-align: center;
width: 97%;
min-height: 10%;
position: relative;
margin-bottom: 25px;
 }
.transparent .tuyin .title 
{
text-align: center; 
color: #FFF;
font-size: 49px; 
}
.transparent .tuyin .plan-name 
{
font-size: 20px;
font-weight: 400;
border-bottom: 1px solid #FFF;
padding-bottom: 15px;
padding: 10px
}

.transparent .tuyin .text
{
margin-top: 20px; 
color: #474747;
font-weight: 300;
margin-bottom: 13px; 
font-size: 16px;
text-align: justify;
}


.wrap
{
  margin:50px auto 0 auto;
  width:70%;
  display:flex;
  align-items:space-around;
  max-width:1200px;
}
.tile
{
  width:100%;
  height:380px;
  margin:10px;
  background-color:#3f6db8;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
  overflow:hidden;
  color:white;
  font-family:'Roboto';
  
}
.tile img
{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
}
.tile .text
{
/*   z-index:99; */
  position:absolute;
  padding:30px;
  height:calc(100% - 60px);
}
.tile h1
{
 
  font-weight:300;
  margin:0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.tile h2
{
  font-weight:100;
  margin:20px 0 0 0;
  font-style:italic;
   transform: translateX(200px);
}
.tile p
{
  font-weight:300;
  margin:20px 0 0 0;
  line-height: 25px;
/*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
}
.animate-text
{
  color:#fff;
  opacity:0;
  transition: all 0.6s ease-in-out;
}
.tile:hover
{
/*   background-color:#99aeff; */
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
  transform:scale(1.05);
}
.tile:hover img
{
  opacity: 0.2;
}
.tile:hover .animate-text
{
  transform:translateX(0);
  opacity:1;
}
.dots
{
  position:absolute;
  bottom:20px;
  right:30px;
  margin: 0 auto;
  width:30px;
  height:30px;
  color:currentColor;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  
}

.dots span
{
    width: 5px;
    height:5px;
    background-color: currentColor;
    border-radius: 50%;
    display:block;
  opacity:0;
  transition: transform 0.4s ease-out, opacity 0.5s ease;
  transform: translateY(30px);
 
}

.tile:hover span
{
  opacity:1;
  transform:translateY(0px);
}

.dots span:nth-child(1)
{
   transition-delay: 0.05s;
}
.dots span:nth-child(2)
{
   transition-delay: 0.1s;
}
.dots span:nth-child(3)
{
   transition-delay: 0.15s;
}


@media (max-width: 1000px) {
  .wrap {
   flex-direction: column;
    width:400px;
  }
}

.sub-header{
  min-width:100%;
  text-align: left;
  display: flex;
  font-size: 35px;
  overflow:hidden;
  float:left;
}

.sub-author{
  font-style:italic;
  color:rgb(187, 186, 186);
}

.sub-body{
  color:white;
  overflow: hidden;
}


/* Subscriptions container */
.subscription-container{
  display: inline-flex;
  width:100%;
}

.card-content{
  background-color: rgb(42, 42, 42);
  margin:10px;
  width: 100%;
  margin-right:-15%;
  float:left;
}

.container-sub{
  height:100%;
  width:40%;
  float:right;
}

/* Styles for tabs */
.navigation-tabs{
    margin-left:17%;
    margin-top:3%;
}

.tab{
  background-color: rgb(0, 0, 0);
}

.custom-search-input{
  padding-top:3%;
}
.pagination {
  background-color: rgb(87, 87, 87);
  margin-bottom:2%;
}