<div id="custom-search-input">
  <div class="input-group col-md-12">
    <input [(ngModel)]="searchInput" type="text" class="  search-query form-control" placeholder="Search" />
    <span class="input-group-btn">
      <button (click)="renderSearchResult()" class="btn btn-info" type="button">
        <span class=" glyphicon glyphicon-search"></span>
      </button>
    </span>
  </div>


  <section class="navigation-tabs">
    <ul class="nav nav-pills">
      <li>
        <a class="tab" (click)="tabChanged(1)">General</a>
      </li>
      <li>
        <a class="tab" (click)="tabChanged(2)">Technology</a>
      </li>
      <li>
        <a class="tab" (click)="tabChanged(3)">Sport</a>
      </li>
      <li>
        <a class="tab" (click)="tabChanged(4)">Politics</a>
      </li>
      <li>
        <a class="tab" (click)="tabChanged(5)">Entertainment</a>
      </li>
      <li>
        <a class="tab" (click)="tabChanged(6)">Science</a>
      </li>
      <li>
        <a class="tab" (click)="tabChanged(7)">Music</a>
      </li>
      <li>
        <a class="tab" (click)="tabChanged(8)">Health</a>
      </li>
      <li>
        <a class="tab" (click)="tabChanged(9)">Gaming</a>
      </li>
    </ul>
  </section>


  <!-- Looping over last five elements to display corresponding cards -->
  <div *ngIf="latestRooms">
    <div *ngFor="let room of latestRooms.article | paginate: {itemsPerPage:5, currentPage:p} ; let myIndex = index">
      <div class="wrap" ng-if="dataArrivalFlag">
        <div class="tile">
          <img *ngIf="room.urlToImage" src='{{room.urlToImage}}' />
          <img *ngIf="!room.urlToImage" src='https://media1.britannica.com/eb-media/25/93825-004-A21EC811.jpg'>
          <a (click)="onRoomSelected(room)">
            <div class="text">
              <h1 class="text-white">{{room.title}}</h1>
              <h2 class="animate-text">More lorem ipsum bacon ipsum.</h2>
              <p class="animate-text">{{room.body}}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="pagination">
      <pagination-controls class="pagination-controls" (pageChange)="p = $event"></pagination-controls>
    </div>

  </div>