<div class="container">
	<h1 class="container-label">Following</h1>
	<!-- Looping over last five elements to display corresponding cards -->
	<div *ngIf="!latestRooms || latestRooms.length == 0">
		<h1 class="blank-label">No Followed yet
		</h1>
	</div>
	<div *ngIf="latestRooms && latestRooms.length != 0">
		<div *ngFor="let room of latestRooms | paginate: {itemsPerPage:3, currentPage:p} ; let myIndex = index">
			<div class="wrap" ng-if="dataArrivalFlag">
				<div class="tile">
					<img src='{{room.resource}}' />
					<a [routerLink]="['/room', room._id]">
						<div class="text">
							<h1 class="text-white">{{room.title}}</h1>
							<h2 class="animate-text">{{room.body}}</h2>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="pagination">
			<pagination-controls *ngIf="latestRooms.length > 3" class="pagination-controls" (pageChange)="p = $event"></pagination-controls>
		</div>
	</div>

</div>


<div *ngIf="topRooms" class="container-top-rooms">
	<h1 class="container-label">Top rooms</h1>
	<div class="wrapping-top" ng-if="dataArrivalFlag">
		<div *ngFor="let top of topRooms.slice(0,5)" class="topRoomsContainer">
			<a [routerLink]="['/room', top._id]">
				<div class="card-top-content">
					<img class="top-image" src="{{top.resource}}" alt="">
					<h6 class="top-rooms-text">{{top.title}}</h6>
				</div>
			</a>

		</div>
	</div>
</div>



<div class="container-sub">
	<h1 class="container-label">Subscriptions</h1>

	<div *ngIf="!latestPosts || latestPosts.length ==0">
		<h1 class="blank-label">No Subscriptions</h1>
	</div>

	<div class="col sm" *ngIf="latestPosts && latestPosts.length != 0">
		<div *ngFor="let subs of latestPosts" class="subscription-container">
			<div class="wrapping-div" ng-if="dataArrivalFlag">
				<div class="card-content">
					<a class="link" [routerLink]="['/room' , subs.room]">
						<h5 class="sub-header">{{subs.header}}</h5>
					</a>
					<br>
					<h3 class="sub-author">by
						<a [routerLink]="['/profile' , subs.author._id]">@{{subs.author.username}}</a>
					</h3>
				</div>
			</div>

			<br>
		</div>
	</div>
</div>
<br>

<!-- Recent posts -->
<div class="wrapper">
	<h1 class="container-label">Blog</h1>
	<div *ngIf="!userPosts || userPosts.length == 0">
		<h1 class="blank-label">No posts yet! </h1>
	</div>
	<div *ngIf="userPosts && userPosts.length != 0">
		<div *ngFor="let post of userPosts | paginate: {itemsPerPage:5, currentPage:p} ; let myIndex = index;" class="card first">
			<h2>{{post.header}}</h2>
			<a [routerLink]="['/profile', post.author._id]">
				<p class="date">Published by {{post.author.username}}
				</p>
			</a>
			<h2>In
				<a href="/room/{{post.room}}">{{post.room}}</a>
			</h2>

			<p class="text">{{post.body}}</p>
			<img src="data:image/jpg;base64,{{post.image}}" class="post-image" />
		</div>
		<div *ngIf="userPosts.length > 5" class="pagination">
			<pagination-controls class="pagination-controls" (pageChange)="p = $event"></pagination-controls>
		</div>
	</div>

</div>

<div *ngIf="recommendedRooms" class="recommendation-container">
	<h1 class="container-label">Recommendations</h1>

	<h4 *ngIf="recommendedRooms.length > 0" class="recommended-in">Recommended in : {{recommendedRooms[0].category.toUpperCase()}}</h4>
	<div *ngFor="let rec of recommendedRooms.slice(0,2)">
		<div class="wrap" ng-if="dataArrivalFlag">
			<div class="tile">
				<img src='{{rec.urlToImage}}' />
				<a (click)="onRoomSelected(rec)">
					<div class="text">
						<h1 class="text-white">{{rec.title}}</h1>
						<h2 class="animate-text">{{rec.description}}</h2>
					</div>
				</a>
			</div>
		</div>
	</div>

	<h4 *ngIf="recommendedRooms.length >= 3" class="recommended-in">Recommended in : {{recommendedRooms[2].category.toUpperCase()}}</h4>
	<div *ngFor="let rec of recommendedRooms.slice(2,4)">
		<div class="wrap" ng-if="dataArrivalFlag">
			<div class="tile">
				<img src='{{rec.urlToImage}}' />
				<a (click)="onRoomSelected(rec)">
					<div class="text">
						<h1 class="text-white">{{rec.title}}</h1>
						<h2 class="animate-text">{{rec.description}}</h2>
					</div>
				</a>
			</div>
		</div>
	</div>

</div>