@import url(https://fonts.googleapis.com/css?family=BenchNine:700);

.text-white {
    color:#ffffff;    
}


.container {
  width:60%;
  float:left;
  margin-left:-15%;
  background-color:rgb(24, 24, 24);
}

.brief-post{
  background-color:#333;
  color:white;
  display: block;
  margin: 10px;
  display:flex;
}

.transparent .tuyin 
{
margin-top: 20px; 
background-color: rgba(255, 255, 255, 0.37);
border: 1px solid #F7F7F7;
border-radius: 5px;
box-shadow: 0px 0px 2px 0px rgba(181, 181, 181, 0.3);
padding: 4%;
text-align: center;
width: 97%;
min-height: 315px;
position: relative;
margin-bottom: 25px;
 }
.transparent .tuyin .title 
{
text-align: center; 
color: #FFF;
font-size: 49px; 
}
.transparent .tuyin .plan-name 
{
font-size: 20px;
font-weight: 400;
border-bottom: 1px solid #FFF;
padding-bottom: 15px;
padding: 10px
}

.transparent .tuyin .text
{
margin-top: 20px; 
color: #474747;
font-weight: 300;
margin-bottom: 13px; 
font-size: 16px;
text-align: justify;
}


.wrap
{
  margin:50px auto 0 auto;
  width:100%;
  display:flex;
  align-items:space-around;
  max-width:1200px;
}
.tile
{
  width:100%;
  height:380px;
  margin:10px;
  background-color:#1062e7;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
  overflow:hidden;
  color:white;
  font-family:'Roboto';
  
}
.tile img
{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
}
.tile .text
{
/*   z-index:99; */
  position:absolute;
  padding:30px;
  height:calc(100% - 60px);
}
.tile h1
{
 
  font-weight:300;
  margin:0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.tile h2
{
  font-weight:100;
  margin:20px 0 0 0;
  font-style:italic;
   transform: translateX(200px);
}
.tile p
{
  font-weight:300;
  margin:20px 0 0 0;
  line-height: 25px;
/*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
}
.animate-text
{
  color:#fff;
  font-size:30;
  opacity:0;
  transition: all 0.6s ease-in-out;
}
.tile:hover
{
/*   background-color:#99aeff; */
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
  transform:scale(1.05);
}
.tile:hover img
{
  opacity: 0.2;
}
.tile:hover .animate-text
{
  transform:translateX(0);
  opacity:1;
}
.dots
{
  position:absolute;
  bottom:20px;
  right:30px;
  margin: 0 auto;
  width:30px;
  height:30px;
  color:currentColor;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  
}

.dots span
{
    width: 5px;
    height:5px;
    background-color: currentColor;
    border-radius: 50%;
    display:block;
  opacity:0;
  transition: transform 0.4s ease-out, opacity 0.5s ease;
  transform: translateY(30px);
 
}

.tile:hover span
{
  opacity:1;
  transform:translateY(0px);
}

.dots span:nth-child(1)
{
   transition-delay: 0.05s;
}
.dots span:nth-child(2)
{
   transition-delay: 0.1s;
}
.dots span:nth-child(3)
{
   transition-delay: 0.15s;
}


@media (max-width: 1000px) {
  .wrap {
   flex-direction: column;
    width:400px;
  }
}

.sub-header{
  word-wrap: break-word;    
  max-width:80%;
  font-size: 35px;
  overflow:hidden;
}

.sub-author{
  font-style:italic;
  color:rgb(187, 186, 186);
}

.sub-body{
  color:white;
  overflow: hidden;
}


/* Subscriptions container */
.subscription-container{
  display: inline-flex;
  width:100%;
  margin-top:10%;
  background-color:#333;  
  outline: rgb(0, 106, 245) solid thick;
  box-shadow: 10px 10px 10px 10px #ff03dd;
}


.container-sub{
  height:100%;
  width:30%;
  float:right;
  margin-left:5%;
  margin-right:15%;
  font-weight: 10;
}

/* Styles for top rooms */

.container-top-rooms{
  width:25%;
  float:right;
  margin-right:-20%;
}

.topRoomsContainer:hover{
  box-shadow:
  1px 1px #373737,
  2px 2px #373737,
  3px 3px #373737,
  4px 4px #373737,
  5px 5px #ff03dd,
  10px 10px #ff03dd;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  transition: .5s ease;
}

.topRoomsContainer{
  background-color:rgb(77, 77, 77);
  margin-top:5%;
}

.top-rooms-text{
  color:white;
  font-weight:10;
}

.top-image{
  height:50%;
  width:50%
}

.container-label{
  font-family: 'Bungee', cursive;
  font-weight:35;
  color:rgb(240, 253, 255);
  text-decoration-line: underline;
  text-decoration-color: rgb(0, 119, 255);
}


/* Recommendation container */

.recommendation-container {
  width:50%;
  float:left;
  margin-left:-20%;
}



.wrapper{
  float:right;
  padding-top:10%;
  clear:both;
  width: 70%;
  position:relative;
  padding-left:20%;
}

.post-image {
  width:100%;
  margin-top:-45%;  
  margin:auto;  
  height:auto;
  background-color:rgb(44, 43, 43);  
  
}

.title h1 {
  font-size:24px;
  color:#FFF;
  font-weight:500;
}

.content{
  margin-top:-5%;
  padding-bottom: 20px;
  float:right;
}

.card{
  background: #fff;
  padding:50px;
  width: 90%;
  margin: 20px auto 0 auto;
  box-shadow: 0 2px 4px rgba(100,100,100,.1);
  margin-top:3%;
}

.card h2 {
  font-size:21px;
  font-weight:500;
}

.card h2 a {
  color:#CC0000;
  text-decoration:none;
}

.card .date {
  color:#9e9e9e;
  margin-top:10px;
  font-size:14px;
}

.card .text {
  word-wrap: break-word;  
  color:#212121;
  margin-top:20px;
  font-size:15px;
  line-height:22px;
}

.span {
    color: rgb(69, 120, 214);
}

.blank-label{
  font-size:35;
  color:rgb(224, 224, 224);
  font-style: italic;
}

.pagination {
  background-color: rgb(87, 87, 87);
  margin-bottom:2%;
}


.recommended-in{
  color:white;
}