<div class="row" *ngIf="dataArrivalFlag">

  <div *ngIf="dataArrivalFlag" class="container">
    <div class="avatar-flip">
      <img *ngIf="dataArrivalFlag" src="data:image/jpg;base64,{{cover}}" height=150 width=150/>
      <img src="http://i1112.photobucket.com/albums/k497/animalsbeingdicks/abd-3-12-2015.gif~original" height="150" width="150">
    </div>
    <button *ngIf="isAlreadySubscription" (click)="onUnsubscribe()" id="subsribe-button" class="btn btn-info">Unsubscribe</button>
    <button *ngIf="!isAlreadySubscription" (click)="onSubscribe()" id="subsribe-button" class="btn btn-info">Subscribe</button>

    <h2>@{{profileOwner.username}}</h2>
    <h4>{{profileOwner.email}}</h4>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas sed diam eget risus varius blandit sit amet non
      magna ip sum dolore.</p>
    <p>Connec dolore ipsum faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla.</p>
  </div>

  <div *ngIf="dataArrivalFlag" class="wrapper">
    <div class="content">
      <div *ngFor="let post of latestPosts | paginate: {itemsPerPage:5, currentPage:p} ; let myIndex = index;" class="card first">
        <h2>{{latestPosts[myIndex].header}}</h2>
        <a [routerLink]="['/profile', post.author._id]">
          <p class="date">Published by {{post.author.username}}
          </p>
        </a>
        <p class="text">{{post.body}}</p>
        <img src="data:image/jpg;base64,{{post.image}}" class="post-image" />
      </div>
    </div>
    <pagination-controls class="pagination-controls" (pageChange)="p = $event"></pagination-controls>    
  </div>

</div>