<link href='https://fonts.googleapis.com/css?family=Press Start 2P

' rel='stylesheet'>


<img src="/../../assets/res/img/homePageBg.png" id="home-fragment1-bg">

<img src="/../../assets/res/img/logo.png" id="logo">

<img src="/../../assets/res/img/shuttles.png" id="shuttles">

<p>
    Sign up for the future of social networking. Millions of experts are eager to check out your thoughts.
</p>

<div class="button-wrapper">

    <a class="button" [routerLink]="['/register']">Register</a>
    <a class="button" [routerLink]="['/login']">Login</a>
</div>