#home-fragment1-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index:0;
}

#logo{
    z-index:1;
    position:relative;
    width:45%;
    float:left;
    margin-top:10%;
}

#shuttles{
    z-index: 1;
    position:relative;
    width:40%;
    float:right;
    margin-right:-20%;
    margin-top:12%;
}

p{
    color:white;
    position:relative;
    font-size:25px;;;
    font-family: 'Press Start 2P';
    z-index: 2;
    margin-left:-20%;;
    width:100%;
    float:left;
}

a{
  text-decoration: none;
  text-align: center;
}



/* ////////////////////////////////// */
@import url(https://fonts.googleapis.com/css?family=BenchNine:700);
.button {
  background-color: #3578c4;
  border: none;
  float:left;
  width:20%;;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Press Start 2P', Arial, sans-serif;
  font-size: 1em;
  font-size: 22px;
  line-height: 2em;
  margin-right:10%;
  margin-top:3%;
  outline: none;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}
.button:before,
.button:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}
.button:before {
  border-color: #c47135;
  border-right-width: 2px;
  border-top-width: 2px;
  right: -5px;
  top: -5px;
}
.button:after {
  border-bottom-width: 2px;
  border-color: #c47135;
  border-left-width: 2px;
  bottom: -5px;
  left: -5px;
}
.snip1535:hover,
.snip1535.hover {
  background-color: #c47135;
}
.button:hover:before,
.button.hover:before,
.button:hover:after,
.button.hover:after {
  height: 100%;
  width: 100%;
}